In [1]:
# Fácil
# 1
import pandas as pd
print(pd.__version__)

0.23.4

In [5]:
# 2
import numpy as np

minhalista = list("abcedfghijklmnopqrstuvwxyz")
meuarr = np.arange(26)
meudict = dict(zip(minhalista, meuarr))
s1 = pd.Series(minhalista)
s2 = pd.Series(meuarr)
s3 = pd.Series(meudict)
print(s1)
print(s2)
print(s3)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [17]:
# 3
ser = pd.Series(meudict)

pd.DataFrame(ser).assign(i = ser.keys())

    0  i
a   0  a
b   1  b
c   2  c
e   3  e
d   4  d
f   5  f
g   6  g
h   7  h
i   8  i
j   9  j
k  10  k
l  11  l
m  12  m
n  13  n
o  14  o
p  15  p
q  16  q
r  17  r
s  18  s
t  19  t
u  20  u
v  21  v
w  22  w
x  23  x
y  24  y
z  25  z

In [21]:
# 4
ser1 = pd.Series(list("abcedfghijklmnopqrstuvwxyz"))
ser2 = pd.Series(np.arange(26))

pd.concat([ser1, ser2])

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
16     q
17     r
18     s
19     t
20     u
21     v
22     w
23     x
24     y
25     z
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

In [25]:
# Médio
# 1
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

set(ser1) - set(ser2)

{1, 2, 3}

In [26]:
# 2
set.symmetric_difference(set(ser1), set(ser2))

{1, 2, 3, 6, 7, 8}

In [30]:
# 3
ser = pd.Series(np.random.normal(10, 5, 25))
print("min:", ser.min())
print("25%:", ser.quantile(0.25))
print("median:", ser.median())
print("75%:", ser.quantile(0.75))
print("max:", ser.max())

min: 0.18143618049190735
25%: 6.963268574002163
median: 9.751696342979182
75%: 13.094436990801146
max: 17.964421722664362

In [75]:
# 4
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(ser)

freq = [0] * 4
for i in range(len(ser)):
    freq[ser[i] - 1] += 1

freq = sorted(zip(freq, ser), reverse = True)
print(freq)
ser.apply(lambda e: e if e == freq[0][1] or e == freq[1][1] else "Outro")

0     3
1     2
2     4
3     3
4     1
5     1
6     3
7     4
8     3
9     4
10    3
11    4
dtype: int32
[(5, 4), (4, 3), (2, 3), (1, 2)]

0         3
1     Outro
2         4
3         3
4     Outro
5     Outro
6         3
7         4
8         3
9         4
10        3
11        4
dtype: object

In [79]:
# 5
ser = pd.Series(np.random.random(20))
pd.qcut(ser, 10, labels = ["1st", "2nd", "3rd", "4th", "5th", "6th", "7th", "8th", "9th", "10th"])

0      2nd
1      1st
2      1st
3      7th
4      5th
5      6th
6      2nd
7      7th
8     10th
9     10th
10     3rd
11     6th
12     9th
13     5th
14     8th
15     9th
16     4th
17     4th
18     3rd
19     8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [88]:
# Difícil
# 1
ser = pd.Series(["Apple", "Orange", "Plan", "Python", "Money"])
def count_vowels(str):
    count = 0;
    for letter in str:
        if letter in "aeiouAEIOU":
            count += 1
    return count
        
ser[ser.apply(lambda e: count_vowels(e) >= 2)]

0     Apple
1    Orange
4     Money
dtype: object

In [104]:
# 2
import re

emails = pd.Series(["buying books at amazom.com", "rameses@egypt.com", "matt@t.co", "narendra@modi.com"])
padrao = "[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}"
emails.apply(lambda e: re.search(padrao, e)).apply(lambda e: e.group() if e != None else None).dropna()

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

In [128]:
# 3
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
a = ser.shift(1)
b = ser.shift(-1)
ser[(ser > a) & (ser > b)].index.values

array([1, 5, 7], dtype=int64)